networks:
  internal:
  ccanalytics:
    external: true

services:
  api:
    env_file: .env
    build:
      context: .
      dockerfile: deployment/Dockerfile.dev
    command: go run ./cmd/api/
    volumes:
      - "./:/go/src/app"
      - go-cache-mod:/go/pkg/mod
      - go-cache-build:/root/.cache/go-build
    ports:
      - "9000:9000"
    tty: true
    networks:
      - ccanalytics
      - internal
    labels:
      - traefik.enable=true
      - traefik.http.routers.ccanalytics_api.entrypoints=web
      - traefik.http.routers.ccanalytics_api.rule=Host(`api.ccanalytics.localhost`) && PathPrefix(`/api`)
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  go-cache-mod:
  go-cache-build: